// Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

//Variables
$bg-color: #fff;

body {
 background: $bg-color;
 .main-body {
 	.container {
 		i {
 			font-size: 5rem;
 		}
 		.top-spacer{
 			margin-top: 10rem;
 		}
 		.Welcome {
 			margin-bottom: 2rem;
 		}
 		.poweredBy{
 			.fa-plus-circle {
			    margin: 2rem 1rem;
			}
 			.logo img {
			    height: 5rem;
			} // End .logo
 		} //End .poweredBy
 	} //End .main-container
 } //End .main-body
} //End body


